body {
    margin: 0px;
    font-family: arial;
}
* {
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: flex-end;
    padding: 3px;
    height: 48px;
}
a {
    text-decoration: none;
    color: black;
}
.apps {
    width:20px;
}
nav div {
    margin: 8px;
}
.gmail_imagens,
.login,
.iconeapps,
.div_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: black;
    height: 40px;
}
.login {
    background-color: #1a73e8;
    padding: 20px 25px 20px 25px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}
.iconeapps {
    margin-left: 16px;
    margin-right: 16px;
    width: 15px;
}
.div_google {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 290px;
}
.logogoogle {
    width: 272px;
    height: 92px;
}
.div_search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 160px;
}
.form {
    height: 44px;
    width: 582px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
}
form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    outline: 0;
}
input {
    border: 1px solid transparent;
    outline: 0;
}
.search {
    width: 447px;
    height: auto;
}
.lupa {
    padding: 12px 0px 12px 15px;
    width: 6%;
    height: auto;
}
.teclado {
    width: 5%;
    height: auto;
    padding: 8px 0px 8px 5px;
}
.microfone {
    width: 5%;
    height: auto;
    padding: 10px 15px 10px 0px;
}
button {
    padding: 10px 15px 10px 15px;
    margin: 5px;
    background-color: #f8f9fa;
    border-radius: 4px;
    font-size: 14px;
    border: transparent;
}
button:hover {
    border: 1px solid #dfe1e5;
}
Footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
}
.footer_1 {
    padding: 15px 20px 15px 30px;
    border-bottom: 1px solid #dfe1e5;
    color: rgb(134, 134, 134);
    font-size: 14px;
}
.footer_2 {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 12px 20px;
}
.f2_1 a {
    padding: 15px 10px 12px 20px;
    color: rgb(134, 134, 134);
    font-size: 14px;
}
@media (max-width:900px) and (min-width:750px) {
    .div_google {
        height: 261px;
    }
    .div_search {
        height: 144px;
    }
    
    .footer_1,
    .f2_1 a {
        font-size: 12px;
    }
    button {
        font-size: 12px;
    }
}
@media (max-width:750px) and (min-width:550px) {
    .div_google {
        height: 232px;
    }
    .div_search {
        height: 128px;
    }
    .footer_1,
    .f2_1 a {
        font-size: 12px;
    }
    .footer_2 {
        flex-direction: column;
    }
    .padding {
        padding-top: 10px;
    }
    button {
        font-size: 12px;
    }
    .form {
        width: 450px;
    }
    .search {
        width: 320px;
    }
    .logogoogle {
        width: 200px;
        height: 67px;
    }
    .gmail_imagens,
    .login,
    .iconeapps {
        font-size: 12px;
        height: 30px;
    }
    .login {
        padding: 15px 20px 15px 20px;
        font-size: 12px;
    }
    .microfone {
        padding: 8px 12px 8px 0px;
    }
}
@media (max-width:550px) and (min-width:400px) {
    .div_google {
        height: 174px;
    }
    .div_search {
        height: 96px;
    }
    .footer_1,
    .f2_1 a {
        font-size: 10px;
    }
    .footer_2 {
        flex-direction: column;
    }
    .padding {
        padding-top: 10px;
    }
    button {
        font-size: 10px;
    }
    .form {
        width: 360px;
    }
    .search {
        width: 256px;
    }
    .logogoogle {
        width: 150px;
        height: 50px;
    }
    .gmail_imagens,
    .login,
    .iconeapps {
        font-size: 10px;
        height: 25px;
    }
    .login {
        padding: 12px 16px 12px 20px;
        font-size: 10px;
    }
    .microfone {
        padding: 8px 12px 8px 0px;
        width: 6%;
    }
    .lupa {
        width: 7%;
    }
    .teclado {
        width: 6%;
    }
}
@media (max-width:400px) {
    .div_google {
        height: 174px;
    }
    .div_search {
        height: 96px;
    }
    .footer_1,
    .f2_1 a {
        font-size: 10px;
    }
    .footer_2 {
        flex-direction: column;
    }
    .padding {
        padding-top: 10px;
    }
    button {
        font-size: 10px;
        padding: 7px 10px 7px 10px;
    }
    .form {
        width: 300px;
    }
    .search {
        width: 213px;
    }
    .logogoogle {
        width: 150px;
        height: 50px;
    }
    .gmail_imagens,
    .login,
    .iconeapps {
        font-size: 10px;
        height: 20px;
    }
    .login {
        padding: 12px 16px 12px 20px;
        font-size: 10px;
    }
    .microfone {
        padding: 8px 12px 8px 0px;
        width: 7%;
    }
    .lupa {
        width: 8%;
    }
    .teclado {
        width: 7%;
    }
}